Programming Languages used for Machine Learning:


1.   Python
2.   R

#print function

In [ ]:
print("Machine Learning")

Machine Learning

In [ ]:
print("Machine Learning" + " Projects")

Machine Learning Projects

In [ ]:
print(8)

8

In [ ]:
print(8+3)

11

#Basic Data types:


1.   int
2.   float
3.   str

In [ ]:
type(8)

int

In [ ]:
type(5.3)

float

In [ ]:
type("english")

str

#Constants & Variables

In [ ]:
marvel_super_hero = "Iron Man"
print(marvel_super_hero)

Iron Man

In [ ]:
marvel_super_hero = "Captain America"
print(marvel_super_hero)

Captain America

In [ ]:
hero1 , hero2 , hero3 = "Iron Man" , "Captain America" , "Bat Man"
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain America
Bat Man

In [ ]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

# input Function

In [ ]:
number_1 = int(input("Enter the first number : "))
number_2 = int(input("Enter the second number : "))

sum = number_1 + number_2
print(sum)

Enter the first number : 23
Enter the second number : 23
46

In [ ]:
# changing the data type in python:
num = 5
print(float(num))

5.0